[settings]
vault = tank/vault        # Path to the vault dataset
vault_key_dir = /keys     # Directory to store keys (relative to vault)
auto_mount = true         # Auto-mount ZFS volumes after unlock
post_scripts = true       # run /etc/zfsvault/post-unlock.d/ scripts
password_timeout = 30     # Seconds to wait for password
retry_count = 3           # Number of password retries before reboot
on_fail = exit            # Action on failed unlock (`reboot` or `exit` to login prompt)
unmount_after_use = true  # Unmount vault after unlock completes

[tank/data]
key = data.key             # path is relative to vault_key_dir
load_key_options = ""      # [optional] passed to `zfs load-key`
mount_options = "readonly" # [optional] passed to `zfs mount`

# minimal example for a storage dataset
[tank/archive]
key = archive.key
