[settings]
vault = tank/vault        # Path to the vault dataset
vault-key-dir = /keys     # Directory to store keys (relative to vault)
auto-mount = true         # Auto-mount ZFS volumes after unlock
post-scripts = true       # run /etc/zfsvault/post-unlock.d/ scripts
password-timeout = 30     # Seconds to wait for password
retry-count = 3           # Number of password retries before reboot
on-fail = exit            # Action on failed unlock (`reboot` or `exit` to login prompt)
unmount-after-use = true  # Unmount vault after unlock completes

[tank/data]
key = data.key             # path is relative to vault-key-dir
load-key-options = ""      # [optional] passed to `zfs load-key`
mount-options = "readonly" # [optional] passed to `zfs mount`

# minimal example for a storage dataset
[tank/archive]
key = archive.key
